@page
@using HomeService.Domain.Core.Enums
@model RegisterModel
@{
    Layout = "_Layout";
}

<section class="gray">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-12">

                <div class="signup-screen-wrap">
                    <div class="signup-screen-single light">
                        <div class="text-center mb-4">
                            <h4 class="m-0 ft-medium">ثبت نـام</h4>
                        </div>

                        <form class="submit-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Input.FisrtName" class="mb-1">نام</label>
                                        <input type="text" asp-for="Input.FisrtName" class="form-control rounded" placeholder="نام*">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Input.LastName" class="mb-1">نام‌خانوادگی</label>
                                        <input asp-for="Input.LastName" type="text" class="form-control rounded" placeholder="نام‌خانوادگی*">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email" class="mb-1">ایمیل</label>
                                <input type="email" asp-for="Input.Email" class="form-control rounded" placeholder="ایمیل*">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Password" class="mb-1">رمز عبور</label>
                                        <input type="password" asp-for="Input.Password" class="form-control rounded" placeholder="رمز عبور*">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Input.Password" class="mb-1">جنسیت</label>
                                        <select class="form-control rounded" asp-for="Input.Gender">
                                            <option value="@GenderEnum.Female">خانوم</option>
                                            <option value="@GenderEnum.Male">آقا</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="sign-controls form-group">
                                <div class="custom-control custom-checkbox">
                                    <input id="IsVisitor" asp-for="Input.IsExpert" type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" for="IsVisitor">متخصص هستید؟</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-md full-width theme-bg text-light rounded ft-medium">ثبت نام</button>
                            </div>

                            <div class="form-group text-center mt-4 mb-0">
                                <p class="mb-0">آیا قبلا ثبت نام کرده اید؟ <a asp-page="./Login" class="ft-medium text-success">ورود به حساب کاربری</a></p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.sign-controls input[type="checkbox"]').click(function () {
                var currentCheckbox = $(this);
                $('.sign-controls input[type="checkbox"]').not(currentCheckbox).prop('checked', false);
            });
        });
    </script>
}