@page
@using HomeService.Domain.Core.Contracts.AppServices
@using HomeService.Endpoint.RazorPages.UI.Pages
@model IndexModel
@inject IServiceCategoryAppServices ServiceCategoryAppServices;
@{
    ViewData["Title"] = "آیدو | صفحه اصلی";
    Layout = "_Layout";
}
<!-- ======================= Home Banner ======================== -->
<div class="home-banner margin-bottom-0"
     style="background-image: url('@Url.Content("~/assets/img/logo/banner (2).jpg")')" ;
     data-overlay="5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="banner_caption text-center mb-5">
                    <h1 class="banner_title ft-bold mb-1">
                        دنبال چه خدماتی میگردی؟
                    </h1>
                </div>

                <form class="main-search-wrap fl-wrap half-column">
                    <div class="main-search-item">
                        <span class="search-tag">خدمات</span>
                        <input type="text" class="form-control radius"
                               placeholder="مثلا برقکاری، کارواش" />
                    </div>
                    <div class="main-search-button">
                        <button class="btn full-width theme-bg text-white"
                                type="button">
                            جستجو<i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ======================= Home Banner ======================== -->
<!-- ======================= Listing Categories ======================== -->
<section class="space min gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center mb-5">
                    <h6 class="theme-cl">دسته بندی‌ها</h6>
                </div>
            </div>
        </div>

        <!-- row -->
        
        <div class="row align-items-center">
            @foreach (var item in await ServiceCategoryAppServices.GetCategorisName(default))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="cats-wrap text-center">
                    <a asp-page="SubServices" asp-route-id="@item.Id" class="Goodup-catg-wrap">
                        <div class="Goodup-catg-icon"></div>
                        <div class="Goodup-catg-caption">
                            <h4 class="fs-md mb-0 ft-medium m-catrio">@item.Name</h4>
                        </div>
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- ======================= Listing Categories End ======================== -->