@page
@model HomeService.Endpoint.RazorPages.UI.Pages.SubCategoryModel
@{
}

<section class="gray py-5">
    <div class="container">
        <!-- Item Wrap Start -->
        <div class="row">
            @foreach (var item in Model.SubCategories)
            {
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                    <a asp-page="Service" asp-route-id="@item.Id" class="d-block text-center m-auto">
                        <div class="Goodup-grid-wrap">
                            <div class="Goodup-grid-upper">
                                <div class="Goodup-pos ab-right"></div>
                                <div class="Goodup-grid-thumb">
                                    <img src="@item.Image" class="img-fluid" alt>
                                </div>
                                <div class="Goodup-rating overlay"></div>
                            </div>
                            <div class="Goodup-grid-fl-wrap">
                                <div class="Goodup-caption px-3 p-4">
                                    <h4 class="mb-0 ft-medium medium mb-0">
                                        @item.Name
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <!-- Item Wrap End -->
    </div>
</section>