@page
@model HomeService.Endpoint.RazorPages.UI.Areas.ExpertArea.Pages.IndexModel
@{
    Layout = "_ExpertLayout";
    ViewData["Dashboard"] = "active";
}
<div class="goodup-dashboard-content">
    <div class="dashboard-tlbar d-block mb-5">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <h1 class="ft-medium fs-lg">درخواست های مرتبط</h1>
            </div>
        </div>
    </div>
    <div class="dashboard-tlbar d-block mb-5">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <h3 class="breadcrumb-item"><a href="#" class="theme-cl">داشبورد</a></h3>
                <br>
                <h6 class="ft-medium fs-4">سلام </h6>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="dsd-boxed-widget py-5 px-4 bg-danger rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light count">46</h2>
            <p class="p-0 m-0 text-light fs-md">آگهی های فعال</p>
            <i class="lni lni-empty-file"></i>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="dsd-boxed-widget py-5 px-4 bg-success rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light count">2615</h2>
            <p class="p-0 m-0 text-light fs-md">تعداد بازدیدها</p>
            <i class="lni lni-eye"></i>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="dsd-boxed-widget py-5 px-4 bg-warning rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light count">312</h2>
            <p class="p-0 m-0 text-light fs-md">تعداد نظرات</p>
            <i class="lni lni-comments"></i>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="dsd-boxed-widget py-5 px-4 bg-purple rounded">
            <h2 class="ft-medium mb-1 fs-xl text-light count">410</h2>
            <p class="p-0 m-0 text-light fs-md">تعداد رزروها</p>
            <i class="lni lni-wallet"></i>
        </div>
    </div>
</div>
