@using HomeService.Domain.Core.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav-menu nav-menu-social align-to-left">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-link text-dark" asp-area="Account" asp-page="Profile" title="پروفایل">@User.Identity?.Name</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Account" asp-page="Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">خروج<i class="bx bx-power-off me-2"></i></button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Account" asp-page="Login" class="ft-bold">
                <i class="fas fa-sign-in-alt ms-1 theme-cl"></i>ورود
            </a>
        </li>
        <li>
            <a asp-area="Account" asp-page="Register" class="ft-bold">
                <i class="fas fa-solid fa-user-plus ms-1 theme-cl"></i> ثبت‌نام‌
            </a>
        </li>

    }
</ul>
<!--Login modal-->
