@page
@model HomeService.Endpoint.RazorPages.UI.Areas.CustomerArea.Pages.CustomerProfileSettingModel
@{
    Layout = "_CustomerLayout";
    ViewData["ProfileSetting"] = "active";
}

<div class="dashboard-list-wraps bg-white rounded mb-4">
    <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
        <div class="dashboard-list-wraps-flx">
            <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>مشخصات شخصی</h4>
        </div>
    </div>

    <div class="dashboard-list-wraps-body py-3 px-3">
        <div class="row">
            <form class="submit-form" method="post" asp-page-handler="Update"> 
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="mb-1">نام</label>
                        <input type="text" class="form-control rounded" asp-for="@Model.CustomerUpdate.FirstName" />
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="mb-1">نام خانوادگی</label>
                        <input type="text" class="form-control rounded"  asp-for="@Model.CustomerUpdate.LastName" />
                    </div>
                </div>
                <button type="submit" >ثبت اطلاعات جدید </button>
            </form>
        </div>


    </div>

</div>



